@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1>
            Welcom
        </h1>
        <h2>
            to uor first RAZORPAGE progect
        </h2>
    </div>
</div>
<div class="roe text-center">
    <div class="col">
        <img src="/images/banner.jpg" class="w-50" img-fluid  img-thumbnail"/>
    </div>
</div>
